<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-8 col-md-offset-6">
       <h1 class="title"></h1>
        <p class="slogan">
         <br>
         <br>
       </p>
       <p class="lead">
         <!-- <%= link_to '马上约车', products_path, class: 'btn btn-info' %> -->
       </p>
     </div>
   </div>
 </div>


<!-- 首页大图下面广告-->
 <div class="landing-page-mid">
       <div class="container">
         <div class="row">
           <div class="col-md-12">
             <h3 class="tagline text-center">The car is my life</h3>
               <p class="col-md-6 col-md-offset-3 text-center tagp">
                 在这里不仅感受超跑的魅力<br>
                还能体验到前所未有的速度<br>
                 更能给你带来不一样的人生享受<br>
                 在这里，我们以租赁的方式让你轻松拥有梦幻座驾<br>
                   即刻开始，享受速度与激情 <br>

           </div>
         </div>
       </div>
     </div>




      <!-- <div class="lp-part-2">
       <div class="lp-block-2">
         <div class="p-pom-box-47">
           <span class="pom-box"><i class="fa fa-users" aria-hidden="true"></i></span>
           <h3>终身学习者在这里找到同类</h3>
           <p>发布你正在学习的课程与技能，分享你的学习经验</p>
         </div>
         <div class="p-pom-box-47">
           <span class="pom-box"><i class="fa fa-pagelines" aria-hidden="true"></i></span>
           <h3>构建属于自己成长环境</h3>
           <p>跳出屏幕，在你的城市组织一次学习者的聚会</p>
         </div>
         <div class="p-pom-box-47">
           <span class="pom-box"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
           <h3>成长记录</h3>
           <p>看到自己生长的过程，未来的你一定会感谢自己今天的努力</p>
         </div>
       </div>
     </div> -->







<!-- <div class="row">
  <div class="content-a">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="text-align ">超跑不能仅仅是梦想</h3>
        <p class="text-center">
          “让爱车的人，都可以有机会体验超跑的速度和激情” <br>
          拥有超跑可能对于普通都只是遥远的梦想，superCar提供租赁平台只要用几百块钱就可实现
        </p>
        <img src="https://ooo.0o0.ooo/2017/06/02/59305be80cdf9.jpg" alt="轮胎">
      </div>
    </div>
  </div>
</div>   -->


<!-- 猜你喜欢 -->
<!-- <div class="row">
  <div class="content-b topspan">
    <div class="row">
      <div class="col-md-12">
        <h3 class="titspan"> 猜你喜欢 </h3>
      </div>
      <div class="box-recommend">
        <% @products_recommend.each do |product| %>
          <div class="col-md-4 box-recommend-listitem">
            <div>
              <%= link_to product_path(product) do %>
                <% if product.image.present? %>
                  <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
                <% else %>
                  <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                <% end %>
              <% end %>
            </div>
            <div class="product-list-info">
              <%= product.title %>
            </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div> -->

<!-- 加分割线 -->
<!-- <div class=""> -->
  <!-- <hr style="height:1px;border:none;border-top:1px solid #000000;" /> -->
  <!-- <hr style="border-top: 1px solid rgba(74,74,74,0.29);"/>
</div> -->



<!-- What We Offer -->

  <section id="services" class="sec-services">
    <div class="container">
      <div align="center">



      <hr/>

      <div class="row">
        <div class="col-sm-4">
          <i class="fa fa-4x fa-rocket" ></i>
          <h2 class="h3">下赛道</h2>
          <p>定期组织客户赛道体验火箭般快感，瞬间肾上腺素飙升！</p>
        </div>

        <div class="col-sm-4">
          <i class="fa fa-4x fa-camera-retro" ></i>
          <h2 class="h3">秀豪车</h2>
          <p>手机拍一拍，朋友圈发一发，你就是最亮眼的主角！</p>
        </div>

        <div class="col-sm-4">
          <i class="fa fa-4x fa-users" ></i>
          <h2 class="h3">会车友</h2>
          <p>在这里才知道一起找到志同道合的爱车之人是那么简单！</p>
        </div>
      </div>
    </div>
    </div>
  </section>


<!-- 产品列表 -->
<div class="bg-1">
  <div class="container box-welcome">
    <div align="center">
      <h4>明星一般闪耀座驾</h4>
    </div>


    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag("兰博胡乱看.jpg", :style => "width:400 height:300" )%>

        <p><strong> 兰博基尼 </strong></p>
        <p>小牛hurakan</p>
          <div align="center">
        <a class="btn btn-welcome" href="/products">租车</a>
      </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag("法拉利恩佐.jpg", :style => "width:400 height:300" )%>
        <p><strong>法拉利</strong></p>
        <p>enzo</p>
          <div align="center">
        <a class="btn btn-welcome" href="/products">租车</a>
      </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag("benz amggt.jpg", :style => "width:400 height:300" )%>
        <p><strong>梅赛德斯奔驰</strong></p>
        <p> amggt</p>
        <div align="center">
        <a class="btn btn-welcome" href="/products">租车</a>
      </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag("兰博胡乱看.jpg", :style => "width:400 height:300" )%>

        <p><strong> 会员卡 </strong></p>
        <p>可参加各种大课，尽享运动快乐</p>
          <div align="center">
        <a class="btn btn-welcome" href="/products">租车</a>
      </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag("法拉利恩佐.jpg", :style => "width:400 height:300" )%>
        <p><strong>一对一私教</strong></p>
        <p>专业指导，尊享极速健身</p>
          <div align="center">
        <a class="btn btn-welcome" href="/products">租车</a>
      </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag("benz amggt.jpg", :style => "width:400 height:300" )%>
        <p><strong>瑜珈导师训练</strong></p>
        <p> 精进技艺，让你与众不同</p>
        <div align="center">
        <a class="btn btn-welcome" href="/products">租车</a>
      </div>
      </div>
    </div>
  </div>
</div>







<!--======== 网站广告大图 =========-->
<div class="jumbotron">

     <h1 class="title">柯尼赛格</h1>
     <p class="slogan">柯尼赛克one：1
     <br>
     全车碳纤维，全球限量
     <br>
      你也可以拥有它
     </p>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上租赁</a></p>
   </div>












<div class="row text-center">
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="https://ws3.sinaimg.cn/large/006tNc79gy1fg3unuzd4uj308c06s74l.jpg" alt="Paris">
      <p><strong>JAY</strong></p>
      <p>哎呦，不错哦</p>
      <p>这里的车有点酷哦</p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="https://ws1.sinaimg.cn/large/006tNbRwgy1fg9jm4lfz1j308c06t74l.jpg" alt="New York">
      <p><strong>高桥凉介</strong></p>
      <p>除非你能找到适合你的车</p>
      <p>否则，你斗不过我的FC的</p>

    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="https://ws2.sinaimg.cn/large/006tNc79gy1fg3usbe5paj308c06twem.jpg" alt="San Francisco">
      <p><strong>王思聪</strong></p>
      <p>这个网站可以呦</p>
        <p>在这里你也可以像我一样每天换车</p>

    </div>
  </div>
</div>







 <!-- <section id="twitter" class="parallax">
     <div>
       <a class="twitter-left-control" href="#twitter-carousel" role="button" data-slide="prev">
         <i class="fa fa-angle-left"></i>
       </a>
       <a class="twitter-right-control" href="#twitter-carousel" role="button" data-slide="next">
         <i class="fa fa-angle-right"></i>
       </a>
       <div class="container">
         <div class="row">
           <div class="col-sm-8 col-sm-offset-2">
             <div class="twitter-icon text-center"></div>
             <div id="twitter-carousel" class="carousel slide" data-ride="carousel">

               <div class="carousel-inner">
                 <div class="item active wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                   <p><img class="img-circle img-thumbnail" src="http://t.cn/RXoU8jB" alt=""></p>
                   <p>
                     征程
                   </p>
                   <p>「 一切差距，其实都是认知升级的差距。<br/>
                     看到认知升级，光焦虑无用，你得学会升级自己的认知系统，<br/>进而升级自己的
                     <a href="#">
                       <span>操作系统 」</span>。
                     </a>
                   </p>
                 </div>
                 <div class="item">
                   <p><img class="img-circle img-thumbnail" src="http://t.cn/RXobqK2" alt=""></p>
                   <p>
                     火炎焱燚
                   </p>
                   <p>「 我喜欢的人在努力，我的情敌在努力。<br/>
                     如果我不努力，我怎么配得上她呢？<br/>
                     <a href="#">
                       <span>得到一样东西最有效的办法就是让自己配得上它」</span>。
                     </a>
                   </p>
                 </div>
                 <div class="item">
                   <p><img class="img-circle img-thumbnail" src="http://t.cn/RXob7P7" alt=""></p>
                   <p>
                     Neil
                   </p>
                   <p>「 没有完整价值观的人，对待生活只能是应激反应。<br/>
                     之前太沉迷于时间管理，情绪管理这些术的层面了。
                     <a href="#">

                       <br/>
                       <span>重塑价值观，才是当务之急」</span>。
                     </a>
                   </p>
                 </div>
                 <div class="item">
                   <p><img class="img-circle img-thumbnail" src="https://farm5.staticflickr.com/4162/34100344702_f29551fdc5_o.jpg" alt=""></p>
                   <p>
                     板儿砖
                   </p>
                   <p>「 虽然现在自己脑子里的砖头还少，但至少要保证每块儿砖头完整，<br/>砖头之间的关联纹理清晰，耐心砌砖，相信自己会
                     <a href="#">
                       <br/>
                       <span>从板儿砖变为大厦 」</span>。
                     </a>
                   </p>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section> -->

<!-- 听他说 -->
<!-- <div class="row">
  <div class="content-b1">
    <div class="row">
      <div class="col-md-12">
        <h3 class="titspan-say"> 听他们说 </h3>
      </div>
      <div class="box-recommend">
        <div class="box-item col-md-4">
          <div class="header">
            <img class="icon" src="https://ooo.0o0.ooo/2017/06/01/59301ac016a8a.jpeg" alt="">
            <div class="info">
              <h4> 舒马赫 </h4>
              车王 最伟大的F1车手之一
            </div>
          </div>
          <div class="desc">
            &nbsp只有体验过，你才会真正认识大马力、大扭矩、<br>
            高转速的发动机是如何
          </div>
        </div>
        <div class="box-item col-md-4">
          <div class="header">
            <img class="icon" src="https://ooo.0o0.ooo/2017/06/01/593023edcf709.jpeg" alt="">
            <div class="info">
              <h4> 韩寒 </h4>
              作家 赛车手
            </div>
          </div>
          <div class="desc">
            &nbsp 车不仅仅是一种交通公交，它更是有灵魂的朋友<br>
            如果你爱车，来supercCar是最明智之选！
          </div>
        </div>
        <div class="box-item col-md-4">
          <div class="header">
            <img class="icon" src="https://ooo.0o0.ooo/2017/06/01/59302a0d2b8da.jpg" alt="">
            <div class="info">
              <h4> 陈震 </h4>
              二环十三郎
            </div>
          </div>
          <div class="desc">
            &nbsp superCar是爱车人的福音，提供平台可以体验各种各样超跑 <br>
            让你的超跑不再是梦。
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- 猜你喜欢 -->
<!-- <div class="row">
  <div class="content-b topspan">
    <div class="row">
      <div class="col-md-12">
        <h3 class="titspan"> 猜你喜欢 </h3>
      </div>
      <div class="box-recommend">
        <% @products.each do |product| %>
          <div class="col-md-4 box-recommend-listitem">
            <div>
              <%= link_to product_path(product) do %>
                <% if product.image.present? %>
                  <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
                <% else %>
                  <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                <% end %>
              <% end %>
            </div>
            <div class="product-list-info">
              <%= product.title %>
            </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div> -->


<!-- 热销商品-->
<!-- <div class="row">
  <div class="content-c topspan">
    <div class="row">
      <div class="col-md-12">
        <h3 class="titspan"> 热销商品 </h3>
      </div>
      <div class='row product-list-all'>
        <% @products.each do |product| %>
          <div class="col-xs-6 col-md-3">
            <div>
              <%= link_to product_path(product) do %>
                <% if product.image.present? %>
                  <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
                <% else %>
                  <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                <% end %>
              <% end %>
            </div>
            <div class="product-list-info">
              <%= product.title %>
              <br>
              销量：<%= product.sale_quantity %>
            </div>
        </div>
      <% end %>
     </div>
    </div>
  </div>
</div> -->
<!--======== 合作伙伴 =========-->
 <section id="brand" class="our-brand">
   <div class="container">
     <div class="row">
       <div class="row">
         <div class="col-md-10 col-md-offset-1 text-center">
           <h1>合作伙伴</h1>
           <hr/>
           <div class="short-line"></div>
           <body bgcolor="#DCEDC8">
           <%= image_tag("https://ws1.sinaimg.cn/large/006tNbRwgy1fg9l5llenoj3037046t9p.jpg") %>
           <%= image_tag("https://ws3.sinaimg.cn/large/006tNbRwgy1fg9l5ijlgtj304j046aak.jpg") %>
           <%= image_tag("https://ws2.sinaimg.cn/large/006tNbRwgy1fg9l5h0asbj303u046aam.jpg") %>
           <%= image_tag("https://ws2.sinaimg.cn/large/006tNbRwgy1fg9kzy21cnj307d0b2tcb.jpg") %>
           <%= image_tag("https://ws3.sinaimg.cn/large/006tNbRwgy1fg9kxed8imj30i202pab3.jpg") %>
           <%= image_tag("https://ws1.sinaimg.cn/large/006tNbRwgy1fg9l82zjo2j303e046q3c.jpg") %>
           <%= image_tag("https://ws2.sinaimg.cn/large/006tNbRwgy1fg9l84u9a5j30d0046ta0.jpg") %>
           <%= image_tag("https://ws4.sinaimg.cn/large/006tNbRwgy1fg9l8168hgj302k046gly.jpg") %>
           <%= image_tag("https://ws2.sinaimg.cn/large/006tNbRwgy1fg9kyyprpgj308r09un1u.jpg") %>
         </body>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!--======== end 合作伙伴 =========-->

<!-- 合作品牌 -->
<!-- <div class="row">
  <div class="content-d">
    <div class="row">
      <div class="">
        <h3 class="titspan-brand"> 合作品牌 </h3>
      </div>
      <hr style="border-top: 0px solid rgba(74,74,74,0.29);"/>

      <div class="col-md-12 brand-img">
        <div class="col-md-2">
          <img src="https://ooo.0o0.ooo/2017/06/02/5930bc11ce5a6.jpg" alt="图标1">
        </div>
        <div class="col-md-2">
          <img src="https://ooo.0o0.ooo/2017/06/02/5930eeb4c25b0.jpg" alt="图标2">
        </div>
        <div class="col-md-2">
          <img src="https://ooo.0o0.ooo/2017/06/02/5930e9869c488.jpeg" alt="图标3">
        </div>
        <div class="col-md-2">
          <img src="https://ooo.0o0.ooo/2017/06/02/5930ec5d2aa78.jpeg" alt="图标4">
        </div>

      </div>
      <div class="col-md-12 brand-img">
        <div class="col-md-2">
          <img src="https://ooo.0o0.ooo/2017/06/02/5930e71718871.jpg" alt="图标5">
        </div>
        <div class="col-md-2">
          <img src="https://ooo.0o0.ooo/2017/06/02/5930eceb4deb3.jpeg" alt="图标6">
        </div>
        <div class="col-md-2">
          <img src="https://ooo.0o0.ooo/2017/06/02/5930bd6f9b562.jpeg" alt="图标7">
        </div>
        <div class="col-md-2">
          <img src="https://ooo.0o0.ooo/2017/06/02/5930e7bc3c201.jpeg" alt="图标8">
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- 广告图 -->
<div class="lp-section-bottom clearfix">
  <div class="bottom-content">
    <p>
    </p>
    <div>
      <a class="action-btn" href="products">马上约车</a>
    </div>
  </div>
</div>
