<div class="row product-info">
  <div class="col-md-6">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://plachhold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2><%= @product.title %></h2>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div style="height:250px;">
      <div> 已付款：<%= @product.sale_quantity %>次</div>
      <p></p>
      <div class="product-price">¥<%= @product.price %> 元/天 </div>
      <div class="pull-right add-cart-btn">
        <% if @product.quantity.present? && @product.quantity > 0 %>
          <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-danger btn-lg") %>
        <% else %>
          已销售空，无法购买
        <% end %>
      </div>
    </div>
  </div>

  <!-- 显示评论数 -->
    <div class="col-md-12 comments-list">
      <h3>产品评论：</h3>
      <!-- 产品有评论 -->
      <% if @product.comments.present? %>
      <!-- 产品评论超过5条，在另一个页面显示评论 -->
        <% if @product.comments.length > 5 %>
          <%= link_to("评论超过5条，查看所有评论", product_comments_path(@product)) %>
        <% else %>
        <!-- 产品评论小于5条，在当前页面显示评论 -->
          <% @product.comments.each do |comment| %>
            <div style="color: orange;">
              用户：<%= User.find_by(id: comment.user_id ).email %>说：
            </div>
              <%= comment.description  %>
            <hr>
          <% end %>
        <% end %>
      <!-- 没有评论的提示 -->
      <% else %>
        <br>还没有用户发表评论～
      <% end %>
    </div>

  </div>
